<!-- Page Content -->
<section>
  <div id="page-content-wrapper" class="mt-70">
    <div id="content">
      <div class="container-fluid">
        <div class="tab-content-wrapper">
          <div class="row">
            <div class="col-12">
              <div class="top-content clearfix">

                <div class="d-flex input-block-wrapper">

                  <!-- <div class="search-bar-wrap">
                    <form class="search-form" action="">
                      <label>Search:</label>
                      <input #bookSearchInput type="text" placeholder="Search.." name="search" />
                    </form>
                  </div> -->

                  <div class="mr-3 input-block-filt">
                    <h4>Search</h4>
                    <input #bookSearchInput type="text" placeholder="Search.." name="search" class="form-control" />
                  </div>

                  <div class="mr-3 input-block-filt">
                    <h4>Rating</h4>
                    <select class="form-control" name="ratingFilter" [ngModel]="filters?.ratingMin"
                      (ngModelChange)="onRatingFilterChange($event)">
                      <option [ngValue]="0">Select Rating</option>
                      <option [ngValue]="5">Rated 5</option>
                      <option [ngValue]="4">Rated 4 and above</option>
                      <option [ngValue]="3">Rated 3 and above</option>
                      <option [ngValue]="2">Rated 2 and above</option>
                      <option [ngValue]="1">Rated 1 and above</option>
                      <option [ngValue]="0">Rated 0 and above</option>
                    </select>
                  </div>

                  <div style="margin-top: 10px;" class="mr-3 input-block-filt">
                    <ngx-slider (userChangeEnd)="priceFilterChanged($event)" [(value)]="priceFilterMinValue" [(highValue)]="priceFilterMaxValue" [options]="priceFilterOptions"></ngx-slider>
                  </div>

                </div>

                <ul class="list-unstyled d-flex float-right mb-0">
                  <li>
                    <a style="cursor: pointer;" class="btn-theam btn-hover-yellow">
                      <img src="assets/images/supplier-icon.png" class="btn-img" /> Add User
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="data-table-wrapper admin-wrapper">
                <table id="example" class="display table table-dark" cellspacing="0" width="100%">
                  <!-- loader -->
                  <div class="loader-wrap">
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.7)" size="default" color="#fbc31e" type="ball-clip-rotate"
                      [fullScreen]="false">
                      <p style="color: white; margin-top: 100px;"> Loading... </p>
                    </ngx-spinner>
                  </div>
                  <!-- loader -->
                  <thead>
                    <tr>
                      <th>
                        Title</th>
                      <th>
                        Authors</th>
                      <th>
                        Price</th>
                      <th>Rating</th>
                      <th></th>
                    </tr>
                  </thead>
                  <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                  </colgroup>
                  <tbody>
                    <tr style="cursor: pointer;" *ngFor="let book of books; let i = index">
                      <td>{{book.title}}</td>
                      <td>{{ getAuthors(book.authors) }}</td>
                      <td>{{book.price}}</td>
                      <td>{{book.rating}}</td>
                      <td>
                        <div class="d-flex align-items-center justify-content-end">
                          <div class="mr-3">
                            <a href="javascript:void(0);"
                              class="btn-theam btn_theam btn-hover-yellow px-4 edit-supplier-btn">Add to cart</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr *ngIf="!books.length">
                      <td style="text-align: center;" colspan="4">No data available</td>
                      <td style="text-align: center;">&nbsp;</td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>
            <div class="col-12">
              <div *ngIf="books?.length" class="NewPaginationContainer">
                <ul>
                  <li style="cursor: pointer;" (click)="loadPreviousPage()"
                    [ngClass]="{'disabled': (pagingMeta?.currentPage === 1)}">
                    <a style="cursor: pointer;"><img src="assets/images/arrow-left.png"></a>
                  </li>
                  <li (click)="loadPage(page)" [ngClass]="{'disabled': (pagingMeta?.currentPage === page)}"
                    style="cursor: pointer;" *ngFor="let page of arrPages">
                    <a style="cursor: pointer;">{{page}}</a>
                  </li>
                  <li style="cursor: pointer;" (click)="loadNextPage()"
                    [ngClass]="{'disabled': (pagingMeta?.currentPage === pagingMeta?.totalPages)}">
                    <a style="cursor: pointer;"><img src="assets/images/arrow-right.png"></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- delete popup start-->

            <!-- delete popup end -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
